#gridz{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    max-width: 1140px;
    margin: 0 auto;
    line-height: 2em;
    font-size: 15px;
    font-weight: 500;
    padding: 20px;
    transition: 0.5s all;
    &:hover{
        box-shadow: 2px 2px 3px rgb(198, 217, 236);
        cursor: pointer;
    }
}

#main_cont{
    width: 1140px;
    margin: 0 auto;

}
