<div *ngIf="!canEdit">
    <div *ngFor="let answer of answers">
        <span *ngIf="!canEdit">{{answer.title}}</span>
    </div>
</div>


<div *ngIf="canEdit">
    <div *ngFor="let answer of answers">
        <input type="text" *ngIf="canEdit" [value]="answer.title" [(ngModel)]="answer.title">
        <span (click)="delete.emit($event)" *ngIf="answers.length > 2 && answer === answers[answers.length - 1]">сделай крестик cправа я не ебу</span>
    </div>
    <button (click)="addAnswer()">Добавить ответ</button>
</div>

