<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <div class="navbar">
        <span class="nav-item">
            <a routerLink="/company">Компания</a>
            <a routerLink="/statistics">Статистика</a>
            <a routerLink="/new-quiz">Новый опрос</a>
            <a routerLink="/admin" *ngIf="user && user.isAdmin">Админка</a>
        </span>

        <div *ngIf="auth.isCookieSet()">
            <span *ngIf="user">{{user.fullName}}</span>
            <button class="btn btn-dark" (click)="auth.logout()">Выйти</button>
        </div>

        <button *ngIf="!auth.isCookieSet()" class="btn">Войти</button>
    </div>
    <router-outlet></router-outlet>
</body>
