<app-loading *ngIf="loading"></app-loading>

<div *ngIf="!loading">
    <div class="wrap">

        <div id="quiz" >
            <h1>{{quiz.title}}</h1>
            <h2>{{quiz.subtitle}}</h2>
            <a><h3 [routerLink]="'/employee/' + quiz.employee.id">Сотрудник - {{quiz.employee.fullName}}</h3></a>
        </div>

        <button class="btn-primary" [routerLink]="'/quiz/' + quiz.id + '/feedback'"
                *ngIf="!answered"
        >Оставить ответ</button>

        <hr>

        <div *ngIf="!quiz.feedbacks || !quiz.feedbacks.length">
            Никто не оставил ответов...
        </div>

        <div *ngIf="quiz.feedbacks && quiz.feedbacks.length">
            <h2>Ответы</h2>
            <div *ngFor="let feedback of quiz.feedbacks">
                <hr>
                <h4>Оценка - {{ feedback.answer.title }}</h4>
                <span *ngIf="feedback.comment">Комментарий - {{feedback.comment}}</span>

                <div>
                    <span class="alert-danger" *ngIf="user && feedback.author.id === user.id">Ваш ответ!</span>
                </div>
            </div>
        </div>

    </div>
</div>
