<div id="wrap">

    <div *ngIf="companyLoading">
        Загрузка компании...
    </div>


    <div *ngIf="!companyLoading">
        <h1>{{company.title}}</h1>
        <br>
        <hr>

        <h4>Команды</h4>

        <div *ngFor="let group of company.groups">
            <app-group-card [group]="group"></app-group-card>
        </div>

        <h4>Опросы</h4>

        <div *ngIf="quizzesLoading">
            Загрузка...
        </div>

        <div>
            <app-quiz-card *ngFor="let quiz of quizzes"
                           [quiz]="quiz"
            ></app-quiz-card>
        </div>
    </div>
</div>
